<h1>Team show page</h1><hr>

<h2>Name: <%= @team.name %></h2>
<h2>Country: <%= @team.country.name %></h2>

<%=home_nav_button%><br>
<%=logout_nav_button%><br>

<%= button_to "team players", "/teams/#{@team.id}/players", method: 'get' %><br> 
<%= button_to "Add a new player", "/teams/:team_id/players/new", method: 'get' %><br>