<h1>Login here</h1><br>

<%= flash[:error]%><br><br>

<%= form_for :user, url: signing_path do |f|%>
   
   <%= render partial: "users/input", locals: {f: f} %>
<%end%><br>

<%=button_to_welcome_home_page%><br>
<%=navigation_helper%>
