
<section class="vh-100" style="background-color: #476072;">
   <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
         <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
               <div class="card-body p-5 text-center">
                  <h1>Login here</h1><br>
            
                  <%= flash[:error]%><br><br>
            
                  <%= form_for :user, url: signing_path do |f|%>
                     
                     <%= render partial: "users/input", locals: {f: f} %>
                  <%end%><br>
   
                  <%=button_to_welcome_home_page%><br>
                  <%=navigation_helper%>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>