  <div class="form-outline mb-4">  
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control form-control-lg'%><br>
   </div>
   
   <div class="form-outline mb-4">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control form-control-lg'%><br><br>
   </div>

      <%= f.submit "Submit", class: "btn btn-primary btn-lg btn-block" %>
      <hr class="my-4">
  