<h1>player Edit Form </h1>

<%= render partial: "users/errors", locals: {object: @player} %>

<%= form_for @player do |f| %>

    <%= render partial: "form", locals: {f: f} %>

  <br><br><%= f.submit %><br><br>
<% end %>


<%=session_home%><br>
<%=navigation_helper%>