
<h1>Player Form </h1>

<%= render partial: "users/errors", locals: {object: @player} %>

<%= form_for @player do |f| %>

<%= render partial: "form", locals: {f: f} %>


<%= f.fields_for :team do |t| %>

      <h3>Add team</h3>
        <%= t.label :name %>
        <%= t.text_field :name %><br><br>

        <%= t.label :country_name %>
        <%= t.text_field :country_name %>
<% end %>

<br><br><br><%= f.submit %><br><br>

<% end %>

<%=session_home%><br>
<%=navigation_helper%>